/* users page styles  */

.viewH {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 149, 228);
    color: white;
    font-size: 20px;
    padding: 1em;
}

.p {
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 1em;
}

/* name and email style */
.nameStyle {
    font-size: 25px;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
}

.emailStyle {
    font-size: 18px;
    display: flex;
    justify-content: left;
    align-items: left;
}

/* grid style  */
.grid {
    padding-left: 10em;
    padding-right: 10em;
}

.innerGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

/* inner div style */
.innerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* avatar style */
.avatar {
    border: 1px solid rgb(175, 169, 169);
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* user info page styles  */
.viewInfoH {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: rgb(32, 149, 228);
    color: white;
    font-size: 20px;
    padding: 1em;
}

.infoGrid {
    padding: 10em;

}

.innerInfoGrid {
    padding: 0em;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* link style  */
.link {
    color: black;
    text-decoration: none;
}
.linkTwo {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* card styles */
.cardStyles {
    background-color: rgb(235, 235, 235);
    width: 30em;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 2.5em;

}

.divStyles {
    padding-left: 2em;
    padding-right: 2em;
}